{{#section "head"}}
<link rel="stylesheet" type="text/css" href="/css/login.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/style.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/modif.css?t={{{preventCache}}}">
<style>
  .navbar {
    background-color: #939496 !important;
  }
</style>
{{/section}}

<nav class="navbar is-fixed-top is-transparent" role="navigation" data-reactroot="">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/small_logo_light.png" alt="ultra-fast-budget" height="32">
      </a>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container is-fluid">
    <div class="login-box">
      <div class="quizz-box">
        <h2 class="title">Erreur 404 🔭</h2>
        <h2 class="title">Oups, il manque quelque chose.</h2>
        <p>
          Malheureusement, la page que vous demandez n’existe pas ou plus.
        </p>
      </div>
    </div>
  </div>
</section>
