{{#section "head"}}
<link rel="stylesheet" type="text/css" href="/css/login.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/style.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/modif.css?t={{{preventCache}}}">
{{/section}}

<nav class="navbar is-fixed-top is-transparent" role="navigation" data-reactroot="">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/small_logo_light.png" alt="ultra-fast-budget" height="32">
      </a>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container is-fluid">
    <div class="login-box">
      <div class="quizz-box">

        <div class="content has-text-centered">
          <figure>
            <img src="/images/logo_large.png" width="180px">
          </figure>
        </div>
        <h2 class="title has-text-centered">Bienvenue sur Ultra Fast Budget</h2>

        <div class="columns mt-5">
          <div class="column has-text-centered">

            <a href="/verify">
              <button type="button" class="button is-info">
                <span class="icon is-small">
                  <i class="fa fa-circle-check" aria-hidden="true"></i>
                </span>
                <b>Vérifier un fichier</b>
              </button>
            </a>
          </div>


          <a href="/society/login">
            <div class="column has-text-centered">
              <button type="submit" class="button is-info">
                <b>Se connecter</b>
                <span class="icon is-small">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
