{{#section "head"}}
<link rel="stylesheet" type="text/css" href="/css/style.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/modif.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/login.css?t={{{preventCache}}}">
{{/section}}

<nav class="navbar is-fixed-top is-transparent" role="navigation" data-reactroot="">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/small_logo_light.png" alt="ultra-fast-budget" height="32">
      </a>
    </div>
  </div>
</nav>

<section class="section">
  <div class="content">
    <div class="login-box">
      <div class="quizz-box">
        <h2 class="title">Réinitialisation de mot de passe</h2>

        <article class="message is-info ">
          <div class="message-body">
            <span>Pour être valide, votre mot de passe doit respecter les règles suivantes :</span>
            <ul style="margin-top: 0;">
              <li>Longueur minimum : 8 caractères</li>
            </ul>
          </div>
        </article>

        <form action="/society/new-password/?token={{token}}" method="POST">
          <div class="field  ">
            <label class="label">Nouveau mot de passe</label>
            <div class="control">
              <input class="input" name="password" type="password" minlength="8" required />
            </div>
          </div>
          <div class="field  ">
            <label class="label">Confirmer le mot de passe</label>
            <div class="control">
              <input class="input" name="confirm" type="password" minlength="8" required />
            </div>
          </div>
          <br>
          <div class="has-text-centered">
            <div>
              <button type="submit" class="button is-info">
                <b>Valider</b>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
