{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="/css/style.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/modif.css?t={{{preventCache}}}">
<link rel="stylesheet" type="text/css" href="/css/login.css?t={{{preventCache}}}">
{{/section}}

<nav class="navbar is-fixed-top is-transparent" role="navigation" data-reactroot="">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/small_logo_light.png" alt="ultra-fast-budget" height="32">
      </a>
    </div>
  </div>
</nav>
<section class="section">
  <div class="content">

    <div class="login-box">
      <div class="quizz-box">
        <h2 class="title">Email de réinitialisation envoyé !</h2>
        <p>
          Un email de réinitialisation de votre mot de passe a été envoyé à l'adresse <span
            class="tag is-info is-light">{{email}}</span>.
        </p>
        <p>
          Regardez dans votre boîte email pour continuer la procédure de changement de mot de passe.
        </p>
        <br>
        <article class="message is-info ">
          <div class="message-body">
            <span>🤔 <b>Vous n'avez rien reçu ?</b>
              <br>
              Vérifiez que l'adresse email que vous avez entrée est correcte ou que l'email ne soit pas arrivé dans vos
              spams.
            </span>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>
